@model Lab17_Misyuro.Kirill_Validation.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StringTest1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StringTest1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StringTest2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StringTest2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StringTest3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StringTest3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StringTest4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StringTest4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangeValidator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangeValidator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ipv4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ipv4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StringLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StringLength)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
